/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
a {
  color: #fff;
  text-decoration: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure,
dl,
dd {
  margin: 0;
}
a,
input,
textarea,
select {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 300;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #fff;
  background: url('../img/background.jpg') no-repeat center top #1e1e1e;
}
.container {
  position: relative;
  width: 1090px;
  margin: 0 auto;
  padding: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  padding: 35px 25px;
  color: #fff;
  background: url('../img/bg-modal.png') repeat left top #1e1e1e;
  border: 1px solid #378703;
  border-radius: 5px;
}
.modal p {
  line-height: 24px;
}
.modal p:first-child {
  margin-top: 0;
}
.modal p:last-child {
  margin-bottom: 0;
}
.modal.map {
  max-width: 1090px;
}
.modal.newsletter {
  max-width: 340px;
  padding: 0;
  text-align: center;
  border-radius: 18px;
}
.modal.newsletter .newsletter-title {
  margin: 0;
  padding: 35px 25px 0;
  font-family: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #818181;
}
.modal.newsletter input[type=email] {
  display: block;
  width: 290px;
  width: calc(100% - 50px);
  width: -webkit-calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: -o-calc(100% - 50px);
  width: -ms-calc(100% - 50px);
  margin: 23px auto 28px;
  border-radius: 30px;
  height: 36px;
  text-align: center;
  color: #fff;
  border: 1px solid #3b3b3b;
  background: #1f1f1f;
  opacity: 0.79;
  line-height: 36px;
}
.modal.newsletter input[type=submit] {
  display: block;
  width: 100%;
  padding: 17px 0;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #378703;
  border: none;
  border-radius: 0 0 14px 14px;
}
.modal.newsletter input[type=submit]:hover {
  opacity: 0.8;
}
.mfp-bg.mfp-ready {
  background: url('../img/bg-popup.png') no-repeat center center rgba(0, 0, 0, 0.79);
}
button.mfp-close {
  right: -15px;
  top: -15px;
  width: 32px;
  height: 32px;
  line-height: 34px;
  color: #000;
  background: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  opacity: 1;
}
button.mfp-close:hover {
  right: -15px;
  top: -15px;
  opacity: 0.8;
}
html {
  margin-right: 0 !important;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 79px;
  width: 100%;
  padding: 25px 0;
  font-family: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  background: #222221;
  border-bottom: 1px solid #2d2d2d;
  z-index: 4;
}
.header-menu {
  margin-top: 4px;
}
.header-menu ul li {
  display: inline-block;
  margin-right: 30px;
}
.header-menu ul li:last-child {
  margin-right: 0;
}
.header-menu ul a {
  font-size: 13px;
  text-transform: uppercase;
}
.header-menu ul a:hover {
  color: #47a00d;
}
.header-socials {
  margin-left: 55px;
}
.header-socials a {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 5px;
  vertical-align: middle;
}
.header-socials a:hover {
  opacity: 0.8;
}
.header-socials .social-vk {
  background: url('../img/icon-vk.png') no-repeat center center;
}
.header-socials .social-fb {
  background: url('../img/icon-fb.png') no-repeat center center;
}
.header-phone {
  margin-top: 7px;
  font-size: 13px;
}
.header-phone:hover {
  color: #47a00d;
}
.intro {
  margin-top: 79px;
  padding: 55px 0 105px;
  text-align: center;
  background: url('../img/bg-intro.png') no-repeat center top;
}
.intro-location {
  margin: 0;
  font-size: 17px;
  color: #818181;
  text-transform: uppercase;
}
.intro-logo {
  position: relative;
  display: block;
  margin: -20px auto 0;
  z-index: 2;
}
.intro-infoblock {
  position: relative;
  width: 488px;
  margin: -83px auto 0;
  padding: 24px 20px 0;
  background: url('../img/bg-infoblock.png') no-repeat center top;
  z-index: 1;
}
.intro-infoblock-facts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.intro-infoblock-fact {
  font-size: 16px;
  text-transform: uppercase;
  color: #575757;
}
.intro-infoblock-fact bold {
  font-weight: 700;
  color: #ee7000;
}
.counter {
  font-family: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  color: #575757;
}
.counter-title {
  margin: 0;
  font-size: 14.26px;
}
.counter-digits {
  width: 330px;
  margin: 15px auto 0;
}
.counter-digits-days,
.counter-digits-hours,
.counter-digits-minutes,
.counter-divider {
  display: inline-block;
}
.counter-digits-days,
.counter-digits-hours,
.counter-digits-minutes {
  margin-right: -4px;
}
.counter-digits-placeholder {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 57.52px;
  line-height: 1;
  color: #378703;
}
.counter-divider {
  margin: 0 20px;
  font-size: 30px;
  vertical-align: 40px;
}
.counter-digits-label {
  display: block;
  margin: 5px 0 0;
  font-size: 14.26px;
}
.intro-counter {
  margin: 40px 0 0;
}
.intro-participate {
  margin: 30px 0 0;
}
.order-button {
  display: inline-block;
  padding: 8.5px 27px;
  font-family: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  font-size: 26.67px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #378703;
  border-radius: 25px;
}
.participate-counter {
  margin: 12px 0 0;
  font-family: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #818181;
}
.participate-counter strong {
  display: inline-block;
  margin-left: 6px;
  padding: 2.5px 5px;
  font-weight: 400;
  color: #fff;
  background: #ee7000;
  border-radius: 5px;
}
.about-features {
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  max-width: 1098px;
  margin: auto;
}
section.about {
  max-width: 100%;
  margin: auto;
  background: url('../img/stalker_background.png') no-repeat center top;
}
.about-feature {
  text-align: center;
}
h2.section-title {
  text-transform: uppercase;
  font-size: 43px;
  font-weight: 300;
}
.bottom-down-l1 {
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  max-width: 1090px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}
a.bottom-social-item {
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  text-align: left;
}
.bottom-social-item-caption {
  color: #7a7a7a;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 10px;
}
.bottom-social-item-count {
  font-size: 13px;
}
.bottom-social-item-caption {
  padding-left: 10px;
  display: block;
  font-size: 13px;
}
.bottom-social-item-count {
  padding-left: 10px;
  padding-top: 4px;
  font-size: 13px;
  color: #3d3d3d;
}
.bottom-social-item-count strong {
  color: #368303 !important;
  font-weight: 400;
}
.bottom-social-item-count {
  font-size: 13px;
  padding-left: 10px;
  font-weight: 300;
  color: #686868;
}
.bottom-social-item-count strong {
  color: #368303 !important;
  font-weight: 400;
}
.bottom-down-l2-container {
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  max-width: 874px;
  margin: auto;
}
.bottom-request-form-row {
  text-align: center;
}
.bottom-request-form-row input[type=text],
.bottom-request-form-row input[type=email] {
  text-align: center;
  border-radius: 30px;
  background: #515151;
  color: #fff;
  border: 1px solid #3b3b3b;
  background: #1f1f1f;
  opacity: 0.79;
  min-width: 265px;
  box-sizing: border-box;
  margin-bottom: 12px;
  height: 36px;
  line-height: 36px;
  font-size: 15px;
}
.bottom-request-form-logo {
  width: 290px;
  background-image: url('../img/lead_logo.png');
  height: 211px;
  background-repeat: no-repeat;
  margin-bottom: 40px;
  display: block;
}
.bottom-request-form-content {
  max-width: 260px;
}
input.bottom-request-form-button {
  padding: 6px 27px;
  font-family: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  font-size: 21.14px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #378703;
  border: none;
  border-radius: 25px;
}
.bottom-request-form-container {
  display: inline-block;
  background-image: url('../img/lead_background.png');
  margin-right: 22%;
  width: 392px;
  background-repeat: no-repeat;
  padding: 63px;
}
.bottom-request-content {
  text-align: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px bottom;
  padding-top: 65px;
}
.bottom-counter {
  width: 385px;
  margin-right: 22%;
  margin-bottom: 10px;
  float: right;
  text-align: center;
}
.bottom-down-l2 {
  color: #686868;
}
.bottom-phone::before {
  display: inline-block;
  width: 20px;
  height: 19px;
  background: url('../img/phone.png');
  content: '';
  vertical-align: middle;
  margin-right: 10px;
}
.bottom-down-l2 {
  margin-bottom: 40px;
  margin-top: 60px;
}
.bottom-logo {
  display: inline-block;
  background: url('../img/logo_min.png');
  width: 223px;
  height: 33px;
  background-repeat: no-repeat;
}
.bottom-down-l2-container * {
  color: #686868 !important;
}
.bottom-mail::before {
  display: inline-block;
  width: 24px;
  height: 19px;
  background: url('../img/mail.png');
  content: '';
  vertical-align: middle;
  margin-right: 10px;
}
.bottom-down-l2-container * {
  white-space: nowrap !important;
}
.bottom-down-l2-container .bottom-link {
  text-decoration: underline;
}
.bottom-mail::before,
.bottom-link {
  margin-left: 4px;
}
.bottom-down-l2 {
  background: url('../img/bottom.png');
  background-position: center 0%;
  margin-top: 0px;
  padding-top: 45px;
  background-repeat: no-repeat;
  margin-top: 23px;
  padding-bottom: 34px;
  margin-bottom: 0px;
  background-size: contain;
}
.about-feature-icon {
  height: 51px;
  padding-bottom: 68px;
}
.about-feature-caption {
  text-transform: uppercase;
  font-size: 10px;
  color: #afafaf;
}
.bottom-request-form-button {
  margin-top: 20px !important;
}
.bottom-top {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid green;
  background: #131313;
}
.bottom-address {
  display: none;
  max-width: 930px;
  margin: auto;
}
.bottom-address.active {
  display: block;
}
.bottom-top-text {
  font-size: 15px;
  color: #9c9c9c;
  line-height: 169%;
  padding-top: 20px;
}
address {
  display: inline-block;
  color: #378703;
}
span.address-coords {
  color: #fff;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  font-weight: 100;
}
.about-title {
  margin-bottom: 61px;
  text-align: center;
}
.about-text {
  position: relative;
  padding-left: 323px;
  line-height: 175%;
  margin-bottom: 164px;
  max-width: 1326px;
  margin-left: auto;
  color: #aeaeae;
}
.about-wrapper {
  background-position: 0% -16%;
}
section.about {
  padding-bottom: 110px;
  padding-right: 13px;
}
.about-feature {
  background-image: url('../img/icon_bacground.png');
  text-align: center;
  width: 154px;
  height: 147px;
  background-repeat: no-repeat;
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.bottom-tabs-title h2 {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
  padding-right: 20px;
  font-weight: 300;
  color: #686868;
}
.bottom-tabs {
  max-width: 930px;
  margin: auto;
}
.bottom-tabs-content {
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}
.bottom-tabs-tab1.active {
  height: 30px;
  line-height: 30px;
}
.bottom-tabs .active {
  color: #fff;
  background: #131313;
  border: 1px solid #2a5c0b;
  border-bottom: none;
  opacity: 1;
}
.bottom-tabs {
  position: relative;
  z-index: 3;
  margin-bottom: -1px;
}
.bottom-tabs-tab1 .bottom-tabs-icon {
  width: 17px;
  height: 29px;
  background-image: url(../img/walk.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -29px;
}
.bottom-tabs-tab2 .bottom-tabs-icon {
  width: 40px;
  height: 20px;
  background-image: url(../img/car.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -21px;
  left: 10px;
}
.bottom-tabs-tab {
  position: relative;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  color: #818181;
  background: #201f1f;
  border: 1px solid #201f1f;
  border-bottom: none;
  opacity: 0.92;
}
.bottom-tabs-caption {
  padding: 0 13px;
  font-size: 13px;
  text-transform: uppercase;
}
section.tasks {
  position: relative;
  background: url(../img/tasks_background.png?2);
  background-repeat: no-repeat;
  margin: auto;
  width: 1105px;
  height: 685px;
  background-size: contain;
  margin-top: 85px;
  z-index: 1;
}
.tasks-title h2 {
  text-transform: uppercase;
  font-size: 43px;
  font-weight: 300;
  text-align: center;
  transform: translateY(-61px);
  -webkit-transform: translateY(-61px);
}
.task-item:nth-child(1) {
  background-image: url('../img/task_1.png');
  width: 622px;
  height: 90px;
  background-repeat: no-repeat;
}
.task-item:nth-child(2) {
  background-image: url('../img/task_2.png');
  width: 432px;
  height: 90px;
  background-repeat: no-repeat;
  margin-left: 136px;
}
.task-item:nth-child(3) {
  background-image: url('../img/task_3.png');
  width: 344px;
  height: 90px;
  background-repeat: no-repeat;
  margin-left: 17px;
}
.task-item:nth-child(4) {
  background-image: url('../img/task_4.png');
  width: 370px;
  height: 90px;
  background-repeat: no-repeat;
  margin-left: 170px;
}
.task-item-number {
  display: none;
}
.task-item-caption {
  display: none;
}
.tasks-container {
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  height: 100%;
  position: relative;
}
.tasks-list-title h3 {
  text-transform: uppercase;
  text-align: right;
  font-weight: 300;
  font-size: 30px;
  padding-right: 5px;
}
.tasks-right {
  padding-right: 49px;
}
.task-item {
  margin-bottom: 3px;
}
.tasks-text {
  max-width: 556px;
  margin-top: 72px;
  margin-left: 30px;
  line-height: 160%;
  color: #686868;
  font-size: 18px;
}
a.tasks-button {
  background: url(../img/scenario.png);
  width: 252px;
  height: 60px;
  display: block;
  color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: translateY(27px);
  -webkit-transform: translateY(27px);
}
.tasks-left {
  padding-left: 40px;
}
/* VIDEOS */
.videos {
  margin-top: 80px;
}
.videos-content {
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  max-width: 1000px;
  margin: auto;
}
.videos-items {
  width: 100%;
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: wrap;
}
.videos-item {
  display: inline-block;
  width: 47%;
  margin-bottom: 18px;
}
.videos-right {
  padding-left: 65px;
}
.videos-title h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 25px;
  display: block;
  margin-top: -61px;
}
.materials {
  margin-top: 190px;
}
.paintball-man {
  position: absolute;
  width: 1121px;
  height: 972px;
  left: -395px;
  top: -325px;
  background: url('../img/paitball_man.png') no-repeat center center;
}
.materials-list {
  width: 485px;
}
.materials-list h3 {
  margin: 0 0 15px;
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}
.material-single {
  position: relative;
  display: inline-block;
  width: 235px;
  height: 158px;
  margin-right: -4px;
  margin-bottom: 5px;
  vertical-align: top;
  overflow: hidden;
}
.material-single img {
  display: block;
  height: 100%;
  width: auto;
}
.material-single span {
  position: absolute;
  left: 10px;
  bottom: 30px;
  font-family: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}
.material-single:nth-of-type(2n) {
  margin-left: 15px;
}
.material-single:nth-of-type(2n) span {
  left: 20px;
}
.game-info {
  position: relative;
  margin-top: 45px;
  z-index: 1;
}
.game-info-nav,
.reviews-tabs-nav,
.prices-nav {
  text-align: right;
}
.game-info-nav a,
.reviews-tabs-nav a,
.prices-nav a {
  display: inline-block;
  padding: 3.5px 10px;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1;
  color: #818181;
  background: #414141;
}
.game-info-nav a.current,
.reviews-tabs-nav a.current,
.prices-nav a.current {
  color: #fff;
  background: #378703;
}
.game-info-content {
  min-height: 480px;
  background: url('../img/sides_background.png') no-repeat center top;
  background-size: 100% 100%;
  border-top: 1px solid #378703;
}
.game-info-tab,
.game-info-innertab,
.review-tab,
.prices-tab {
  display: none;
}
.game-info-tab.current,
.game-info-innertab.current,
.review-tab.current,
.prices-tab.current {
  display: block;
}
.game-sides-nav,
.game-locations-nav {
  padding: 12px 0;
  text-align: center;
  border-bottom: 1px solid #575757;
}
.game-sides-nav a,
.game-locations-nav a {
  display: inline-block;
  margin: 0 14px;
  font-family: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  font-weight: 18;
  text-transform: uppercase;
  line-height: 1;
  color: #818181;
}
.game-sides-nav a.current,
.game-locations-nav a.current {
  color: #fff;
}
.game-info-innercontent {
  padding: 0 30px;
}
.game-info-innertab {
  padding-bottom: 85px;
}
#game-sides .game-info-img {
  width: 320px;
  padding: 25px 30px 25px 0;
}
#game-sides .game-info-img img {
  display: block;
  width: 100%;
  height: auto;
}
#game-sides .game-info-desc {
  width: 710px;
  min-height: 395px;
  padding: 25px 0 25px 30px;
  background: url('../img/sides_delimiter.png') no-repeat left center;
}
#game-sides .game-info-desc p {
  font-weight: 400;
  font-size: 16px;
  color: #afafaf;
}
#game-sides .game-info-desc p:first-child {
  margin-top: 0;
}
#game-sides .game-info-desc p:last-child {
  margin-bottom: 0;
}
#game-locations .game-info-img {
  padding: 30px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
#game-locations .game-info-desc {
  padding: 35px 0;
  background: url('../img/locations_delimiter.png') no-repeat center top;
}
#game-locations .game-info-desc p {
  margin: 0;
  padding: 5px 0 5px 20px;
  font-weight: 400;
  font-size: 16px;
  color: #afafaf;
  border-left: 1px solid #378703;
}
.features {
  margin-top: 20px;
  color: #acacac;
}
.features h2 {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 45px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
.features .container {
  min-height: 625px;
  padding: 0 100px 145px;
  background: url('../img/features_background.png') no-repeat center top;
  background-size: 100% 100%;
}
.features-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  padding-top: 55px;
  text-align: center;
}
.feature-single {
  display: inline-block;
}
.feature-single .img-wrapper {
  height: 86px;
}
.feature-single figcaption {
  font-weight: 400;
  font-family: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.features-secondary {
  margin-top: 70px;
}
.features-secondary h3 {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
}
.features-secondary strong,
.features-secondary b {
  font-weight: 700;
  color: #fff;
}
.features-secondary-item {
  margin-bottom: 10px;
  padding-left: 30px;
  font-size: 16px;
  background: url('../img/icon_check.png') no-repeat left center;
}
.features-secondary-item:last-child {
  margin-bottom: 0;
}
.reviews {
  margin-top: 48px;
}
.reviews .container {
  width: 1191px;
  height: 472px;
  padding: 0 60px 75px 40px;
  background: url('../img/reviews_background.png') no-repeat center top;
}
.reviews-tabs-nav {
  padding-top: 10px;
  text-align: left;
}
.reviews-tabs-nav a {
  position: relative;
  z-index: 1;
}
.slick-slide {
  outline: none;
}
.arrow {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 23px;
  background: url('../img/icon-arrow-left.png') no-repeat center center;
  cursor: pointer;
}
.arrow:hover {
  opacity: 0.8;
}
.prev-arrow {
  left: 0;
}
.next-arrow {
  right: 0;
  transform: rotate(180deg);
}
.slick-dots {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.slick-dots button {
  display: none;
}
.slick-dots li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 10px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots li.slick-active {
  background: #fff;
}
.reviews-slider {
  margin-top: -37px;
}
.reviews-slider .prev-arrow {
  left: 45px;
}
.reviews-slider .next-arrow {
  right: 45px;
}
.reviews-slider .slick-dots {
  margin-top: 50px;
}
.reviews-slide {
  text-align: center;
}
.review-img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
}
.review-name {
  display: block;
  margin: 35px auto 25px;
  font-family: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 19px;
  text-transform: uppercase;
  color: #fff;
}
.review-name strong {
  color: #ee7000;
  font-weight: 300;
}
.review-name strong:before {
  content: '/';
  display: inline-block;
  margin-left: 2px;
  margin-right: 6px;
  color: #378703;
}
.review-text {
  width: 800px;
  margin: 0 auto;
  color: #818181;
}
.take-part-in {
  margin-top: 42px;
  text-align: center;
}
.faq {
  margin-top: 100px;
}
.faq h2 {
  position: relative;
  font-weight: 300;
  font-size: 45px;
  line-height: 1;
  text-transform: uppercase;
  z-index: 1;
}
.swat-man {
  position: absolute;
  width: 1037px;
  height: 875px;
  left: -315px;
  top: -150px;
  background: url('../img/spetsnaz.png') no-repeat center center;
}
.faq-nav,
.faq-tabs {
  position: relative;
  z-index: 1;
}
.faq-nav {
  margin-top: 40px;
  padding-left: 475px;
}
.faq-nav a {
  display: inline-block;
  margin-bottom: 25px;
  font-size: 18px;
  color: #acacac;
}
.faq-nav a span {
  border-bottom: 1px solid transparent;
}
.faq-nav a.current {
  color: #fff;
}
.faq-nav a.current span {
  border-color: #fff;
}
.faq-nav a:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 12px;
  background: transparent;
  border: 1px solid #ee7000;
  border-radius: 50%;
  vertical-align: middle;
}
.faq-nav a.current:before {
  background: #ee7000;
}
.faq-nav a:nth-of-type(2) {
  margin-left: 48px;
}
.faq-nav a:nth-of-type(3) {
  margin-left: 80px;
}
.faq-nav a:nth-of-type(4) {
  margin-left: 102px;
}
.faq-nav a:nth-of-type(5) {
  margin-left: 117px;
}
.faq-nav a:nth-of-type(6) {
  margin-left: 126px;
}
.faq-nav a:nth-of-type(7) {
  margin-left: 129px;
}
.faq-nav a:nth-of-type(8) {
  margin-left: 119px;
}
.faq-tabs {
  margin-left: 415px;
  margin-top: 20px;
}
.faq-tab {
  display: none;
  padding-left: 20px;
  border-left: 1px solid #ee7000;
}
.faq-tab.current {
  display: block;
}
.faq-tab p {
  width: 630px;
  margin: 0;
  font-size: 18px;
  color: #acacac;
}
.prices {
  min-height: 835px;
  padding: 245px 0 0;
  text-align: center;
  background: url('../img/prices_background_overlay.png') no-repeat center top -55px;
}
.prices h2 {
  font-size: 45px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
}
.prices-nav {
  margin-top: 20px;
  text-align: center;
}
.prices-days-range {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  padding: 35px 7px 10px;
  background: url('../img/gameday_line.png') no-repeat bottom left rgba(0, 0, 0, 0.3);
  background-size: 100% 5px;
  border-top: 1px solid #378703;
  border-radius: 5px 5px 0 0;
}
.early-bird,
.golden-mean,
.sleepy-owl {
  width: 310px;
  margin-top: 0;
  margin-bottom: 0;
}
.early-bird .from,
.golden-mean .from,
.sleepy-owl .from {
  float: left;
  text-align: left;
}
.early-bird .to,
.golden-mean .to,
.sleepy-owl .to {
  float: right;
  text-align: right;
}
.early-bird .center,
.golden-mean .center,
.sleepy-owl .center {
  display: block;
  text-align: center;
}
.early-bird span,
.golden-mean span,
.sleepy-owl span {
  font-size: 20px;
  color: #acacac;
}
.early-bird span strong,
.golden-mean span strong,
.sleepy-owl span strong {
  display: block;
  line-height: 1;
}
.prices-tab {
  margin-bottom: 60px;
}
.prices-tab.current {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.prices-tab.current p {
  position: relative;
  height: 210px;
  font-weight: 100;
  font-size: 70px;
  line-height: 210px;
  text-align: center;
  background: rgba(19, 19, 19, 0.89);
  border: 1px solid #575757;
  border-top: none;
}
.prices-tab.current .early-bird {
  color: #378703;
}
.prices-tab.current .golden-mean {
  color: #ee7000;
}
.prices-tab.current .sleepy-owl {
  color: #d80027;
}
.prices-tab.current .last-day {
  position: absolute;
  top: 0;
  left: -1px;
  width: calc(100% + 2px);
  width: -webkit-calc(100% + 2px);
  width: -moz-calc(100% + 2px);
  width: -o-calc(100% + 2px);
  width: -ms-calc(100% + 2px);
  height: 23px;
  font-family: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 12.46px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  background: url('../img/bg-lastday.png') no-repeat left center;
  background-size: 100% 23px;
}
.prices-tab.current .promo {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #818181;
}
.prices-tab.current .promo b {
  color: #d80027;
}
.prices-faq {
  font-family: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}
.prices-faq:hover {
  border-color: #fff;
}
.prices-participate {
  margin-top: 50px;
}
.registration h2,
.organizators h2,
.partners h2 {
  font-size: 45px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}
.registration {
  min-height: 570px;
  margin-top: 55px;
  padding-top: 20px;
  background: url('../img/registration_background.png') no-repeat center top;
}
.registration-types {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  margin-top: 110px;
}
.registration-type {
  width: 310px;
  height: 215px;
  border: 1px solid #3a3a3a;
}
.registration-type:nth-child(1) .registration-title {
  background: #d80027;
}
.registration-type:nth-child(2) .registration-title {
  background: #378703;
}
.registration-type:nth-child(3) .registration-title {
  background: rgba(129, 129, 129, 0.15);
}
.registration-title {
  height: 45px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #575757;
}
.registration-type-content {
  height: 170px;
  padding: 15px 35px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}
.registration-type-content p {
  margin: 0;
  color: #686868;
}
.registration-type-content img {
  margin-top: 12px;
  opacity: 0.7;
}
.registration-type-content img:hover {
  opacity: 1;
}
.reg-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  font-family: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  font-size: 16.69px;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid;
}
.registration-shops {
  border-color: #d80027;
}
.registration-order {
  border-color: #ee7000;
}
.organizators .container {
  min-height: 465px;
  padding: 0 40px 30px;
  background: url('../img/organizators_bg.png') no-repeat center top 50px;
  background-size: 100% 100%;
}
.organizators h2 {
  margin-top: -50px;
}
.organizators-slider {
  margin-top: 57px;
}
.organizators-slider .organizator-single {
  display: block;
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 1px solid #575757;
}
.organizators-slider a {
  margin: 0 15px;
}
.organizators-slider img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.organizators-slider .arrow {
  margin-top: -11.5px;
}
.organizators-slider .prev-arrow {
  left: -95px;
}
.organizators-slider .next-arrow {
  right: -95px;
}
.organizators-slider .slick-dots {
  margin-top: 35px;
}
.partners {
  margin-top: 40px;
}
.partners h2 {
  font-size: 30px;
}
.partners .container {
  min-height: 275px;
  background: url('../img/partners_bg.png') no-repeat center top;
}
.partners-slider {
  width: 775px;
  margin: 60px auto 0;
}
.partners-slider img {
  height: 75px;
  width: auto;
  margin: 0 auto;
}
.partners-slider .slick-dots {
  position: absolute;
  left: 0;
  bottom: -80px;
  width: 100%;
}
.partners-slider .arrow {
  margin-top: -11.5px;
}
.partners-slider .prev-arrow {
  left: -60px;
}
.partners-slider .next-arrow {
  right: -60px;
}
@media screen and (min-width: 1020px) and (max-width: 1225px) {
  body {
    min-width: 1000px;
    background: url('../img/background.jpg') center top 250px no-repeat #1e1e1e;
  }
  .container {
    width: 1000px;
    min-width: 1000px;
  }
  section.about {
    padding-right: 0;
  }
  .about-text {
    padding-left: 0;
    text-align: center;
  }
  section.tasks {
    width: 1000px;
  }
  .tasks-text {
    margin-top: 45px;
  }
  a.tasks-button {
    transform: translateY(-20px);
  }
  #game-sides .game-info-desc {
    width: 610px;
  }
  .reviews .container {
    width: 1000px;
    background-size: 100% 100%;
  }
  .faq-tabs {
    margin-left: 300px;
  }
  .organizators-slider .prev-arrow {
    left: -30px;
  }
  .organizators-slider .next-arrow {
    right: -30px;
  }
  .organizators-slider .arrow {
    margin-top: -40px;
  }
  .bottom-request-content {
    padding-top: 45px;
  }
  .bottom-counter,
  .bottom-request-form-container {
    margin-right: 20px;
  }
  .bottom-down-l1 {
    padding: 0 15px;
  }
}
