@media screen and (min-width: 1020px) and (max-width: 1225px) {

    body {
        min-width: 1000px;
        background: url('../img/background.jpg') center top 250px no-repeat #1e1e1e;
    }
    .container {
        width: 1000px;
        min-width: 1000px;
    }

    section.about {
        padding-right: 0;
    }

    .about-text {
        padding-left: 0;
        text-align: center;
    }

    section.tasks {
        width: 1000px;
    }

    .tasks-text {
        margin-top: 45px;
    }

    a.tasks-button {
        transform: translateY(-20px);
    }

    #game-sides .game-info-desc {
        width: 610px;
    }

    .reviews .container {
        width: 1000px;
        background-size: 100% 100%;
    }

    .faq-tabs {
        margin-left: 300px;
    }

    .organizators-slider .prev-arrow {
        left: -30px;
    }

    .organizators-slider .next-arrow {
        right: -30px;
    }

    .organizators-slider .arrow {
        margin-top: -40px;
    }

    .bottom-request-content {
        padding-top: 45px;
    }

    .bottom-counter,
    .bottom-request-form-container {
        margin-right: 20px;
    }

    .bottom-down-l1 {
        padding: 0 15px;
    }
}
