@condensed: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
@simple: 'Roboto', 'Open Sans', sans-serif;

@dark: #1e1e1e;
@dark-light: #2d2d2d;
@dark-gray: #575757;
@gray: #818181;
@orange: #ee7000;
@red: #d80027;
@green: #378703;
@green-light: #47a00d;

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

address {
  font-style: normal;
}

a {
    color: #fff;
    text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure, dl, dd {
  margin: 0;
}

a,
input,
textarea,
select {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: @simple;
  font-weight: 300;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #fff;
  background: url('../img/background.jpg') no-repeat center top #1e1e1e;
}

.container {
  position: relative;
  width: 1090px;
  margin: 0 auto;
  padding: 0;
}

.to-left {
  float: left;
}
.to-right {
  float: right;
}

.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
