html {
    margin-right: 0 !important;
}

// Header
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 79px;
    width: 100%;
    padding: 25px 0;
    font-family: @condensed;
    background: #222221;
    border-bottom: 1px solid #2d2d2d;
    z-index: 4;
}

.header-menu {
    margin-top: 4px;

    ul {

        li {
            display: inline-block;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            font-size: 13px;
            text-transform: uppercase;

            &:hover {
                color: @green-light;
            }
        }
    }
}

.header-socials {
    margin-left: 55px;

    a {
        display: inline-block;
        width: 28px;
        height: 28px;
        margin: 0 5px;
        vertical-align: middle;

        &:hover {
            opacity: 0.8;
        }
    }

    .social-vk {
        background: url('../img/icon-vk.png') no-repeat center center;
    }
    .social-fb {
        background: url('../img/icon-fb.png') no-repeat center center;
    }
}

.header-phone {
    margin-top: 7px;
    font-size: 13px;

    &:hover {
        color: @green-light;
    }
}

// Intro block
.intro {
    margin-top: 79px;
    padding: 55px 0 105px;
    text-align: center;
    background: url('../img/bg-intro.png') no-repeat center top;
}

.intro-location {
    margin: 0;
    font-size: 17px;
    color: @gray;
    text-transform: uppercase;
}

.intro-logo {
    position: relative;
    display: block;
    margin: -20px auto 0;
    z-index: 2;
}

.intro-infoblock {
    position: relative;
    width: 488px;
    margin: -83px auto 0;
    padding: 24px 20px 0;
    background: url('../img/bg-infoblock.png') no-repeat center top;
    z-index: 1;
}


.intro-infoblock-facts {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}

.intro-infoblock-fact {
    font-size: 16px;
    text-transform: uppercase;
    color: @dark-gray;

    bold {
        font-weight: 700;
        color: @orange;
    }
}

// Counter
.counter {
    font-family: @condensed;
    text-transform: uppercase;
    color: @dark-gray;
}

.counter-title {
    margin: 0;
    font-size: 14.26px;
}

.counter-digits {
    width: 330px;
    margin: 15px auto 0;
}

.counter-digits-days,
.counter-digits-hours,
.counter-digits-minutes,
.counter-divider {
    display: inline-block;
}

.counter-digits-days,
.counter-digits-hours,
.counter-digits-minutes {
    margin-right: -4px;
}

.counter-digits-placeholder {
    font-family: @simple;
    font-weight: 100;
    font-size: 57.52px;
    line-height: 1;
    color: @green;
}

.counter-divider {
    margin: 0 20px;
    font-size: 30px;
    vertical-align: 40px;
}

.counter-digits-label {
    display: block;
    margin: 5px 0 0;
    font-size: 14.26px;
}

.intro-counter {
    margin: 40px 0 0;
}

.intro-participate {
    margin: 30px 0 0;
}

.order-button {
    display: inline-block;
    padding: 8.5px 27px;
    font-family: @condensed;
    font-size: 26.67px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: @green;
    border-radius: 25px;
}

.participate-counter {
    margin: 12px 0 0;
    font-family: @condensed;
    font-size: 15px;
    text-transform: uppercase;
    color: @gray;

    strong {
        display: inline-block;
        margin-left: 6px;
        padding: 2.5px 5px;
        font-weight: 400;
        color: #fff;
        background: @orange;
        border-radius: 5px;
    }
}

// Andrey part
.about-features {
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  max-width: 1098px;
  margin: auto;
}

section.about {
  max-width: 100%;
  margin: auto;
  background: url('../img/stalker_background.png') no-repeat center top;
}

.about-feature {
  text-align: center;
}

h2.section-title {
  text-transform: uppercase;
  font-size: 43px;
  font-weight: 300;
}

.bottom-down-l1 {
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  max-width: 1090px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

a.bottom-social-item {
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  text-align: left;
}

.bottom-social-item-caption {
  color: #7a7a7a;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 10px;
}

.bottom-social-item-count {
  font-size: 13px;
}

.bottom-social-item-caption {
  padding-left: 10px;
  display: block;
  font-size: 13px;
}

.bottom-social-item-count {
  padding-left: 10px;
  padding-top: 4px;
  font-size: 13px;
  color: #3d3d3d;
}

.bottom-social-item-count strong {
  color: #368303 !important;
  font-weight: 400;
}

.bottom-social-item-count {
  font-size: 13px;
  padding-left: 10px;
  font-weight: 300;
  color: #686868;
}

.bottom-social-item-count strong {
  color: #368303 !important;
  font-weight: 400;
}

.bottom-down-l2-container {
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  max-width: 874px;
  margin: auto;
}

.bottom-request-form-row {
    text-align: center;
}

.bottom-request-form-row input[type=text],
.bottom-request-form-row input[type=email] {
  text-align: center;
  border-radius: 30px;
  background: #515151;
  color: #fff;
  border: 1px solid #3b3b3b;
  background: #1f1f1f;
  opacity: 0.79;
  min-width: 265px;
  box-sizing: border-box;
  margin-bottom: 12px;
  height: 36px;
  line-height: 36px;
  font-size: 15px;
}

.bottom-request-form-logo {
  width: 290px;
  background-image: url('../img/lead_logo.png');
  height: 211px;
  background-repeat: no-repeat;
  margin-bottom: 40px;
  display: block;
}

.bottom-request-form-content {
  max-width: 260px;
}

input.bottom-request-form-button {
    padding: 6px 27px;
    font-family: @condensed;
    font-size: 21.14px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: @green;
    border: none;
    border-radius: 25px;
}

.bottom-request-form-container {
  display: inline-block;
  background-image: url('../img/lead_background.png');
  margin-right: 22%;
  width: 392px;
  background-repeat: no-repeat;
  padding: 63px;
}

.bottom-request-content {
  text-align: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px bottom;
  padding-top: 65px;
}

.bottom-counter {
    width: 385px;
    margin-right: 22%;
    margin-bottom: 10px;
    float: right;
    text-align: center;
}

.bottom-down-l2 {
  color: #686868;
}

.bottom-phone::before {
  display: inline-block;
  width: 20px;
  height: 19px;
  background: url('../img/phone.png');
  content: '';
  vertical-align: middle;
  margin-right: 10px;
}

.bottom-down-l2 {
  margin-bottom: 40px;
  margin-top: 60px;
}

.bottom-logo {
  display: inline-block;
  background: url('../img/logo_min.png');
  width: 223px;
  height: 33px;
  background-repeat: no-repeat;
}

.bottom-down-l2-container * {
  color: #686868 !important;
}

.bottom-mail::before {
  display: inline-block;
  width: 24px;
  height: 19px;
  background: url('../img/mail.png');
  content: '';
  vertical-align: middle;
  margin-right: 10px;
}

.bottom-down-l2-container * {
  white-space: nowrap !important;
}

.bottom-down-l2-container .bottom-link {
  text-decoration: underline;
}

.bottom-mail::before,
.bottom-link {
  margin-left: 4px;
}

.bottom-down-l2 {
  background: url('../img/bottom.png');
  background-position: center 0%;
  margin-top: 0px;
  padding-top: 45px;
  background-repeat: no-repeat;
  margin-top: 23px;
  padding-bottom: 34px;
  margin-bottom: 0px;
  background-size: contain;
}

.about-feature-icon {
  height: 51px;
  padding-bottom: 68px;
}

.about-feature-caption {
  text-transform: uppercase;
  font-size: 10px;
  color: #afafaf;
}

.bottom-request-form-button {
  margin-top: 20px !important;
}

.bottom-top {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid green;
  background: #131313;
}

.bottom-address {
  display: none;
  max-width: 930px;
  margin: auto;

  &.active {
      display: block;
  }
}

.bottom-top-text {
  font-size: 15px;
  color: #9c9c9c;
  line-height: 169%;
  padding-top: 20px;
}

address {
  display: inline-block;
  color: #378703;
}

span.address-coords {
  color: #fff;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  font-weight: 100;
}

.about-title {
  margin-bottom: 61px;
  text-align: center;
}

.about-text {
  position: relative;
  padding-left: 323px;
  line-height: 175%;
  margin-bottom: 164px;
  max-width: 1326px;
  margin-left: auto;
  color: #aeaeae;
}

.about-wrapper {
  background-position: 0% -16%;
}

section.about {
  //background-position: 294% 44%;
  padding-bottom: 110px;
  padding-right: 13px;
}

.about-feature {
  background-image: url('../img/icon_bacground.png');
  text-align: center;
  width: 154px;
  height: 147px;
  background-repeat: no-repeat;
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.bottom-tabs-title h2 {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
  padding-right: 20px;
  font-weight: 300;
  color: #686868;
}

.bottom-tabs {
  max-width: 930px;
  margin: auto;
}

.bottom-tabs-content {
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}

.bottom-tabs-tab1.active {
  height: 30px;
  line-height: 30px;
}

.bottom-tabs .active {
  color: #fff;
  background: #131313;
  border: 1px solid #2a5c0b;
  border-bottom: none;
  opacity: 1;
}

.bottom-tabs {
  position: relative;
  z-index: 3;
  margin-bottom: -1px;
}

.bottom-tabs-tab1 .bottom-tabs-icon {
  width: 17px;
  height: 29px;
  background-image: url(../img/walk.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -29px;
}

.bottom-tabs-tab2 .bottom-tabs-icon {
  width: 40px;
  height: 20px;
  background-image: url(../img/car.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -21px;
  left: 10px;
}

.bottom-tabs-tab {
  position: relative;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  color: @gray;
  background: #201f1f;
  border: 1px solid #201f1f;
  border-bottom: none;
  opacity: 0.92;
}

.bottom-tabs-caption {
    padding: 0 13px;
    font-size: 13px;
    text-transform: uppercase;
}

section.tasks {
  position: relative;
  background: url(../img/tasks_background.png?2);
  background-repeat: no-repeat;
  margin: auto;
  width: 1105px;
  height: 685px;
  background-size: contain;
  margin-top: 85px;
  z-index: 1;
}

.tasks-title h2 {
  text-transform: uppercase;
  font-size: 43px;
  font-weight: 300;
  text-align: center;
  transform: translateY(-61px);
  -webkit-transform: translateY(-61px);
}

.task-item:nth-child(1) {
  background-image: url('../img/task_1.png');
  width: 622px;
  height: 90px;
  background-repeat: no-repeat;
}

.task-item:nth-child(2) {
  background-image: url('../img/task_2.png');
  width: 432px;
  height: 90px;
  background-repeat: no-repeat;
  margin-left: 136px;
}

.task-item:nth-child(3) {
  background-image: url('../img/task_3.png');
  width: 344px;
  height: 90px;
  background-repeat: no-repeat;
  margin-left: 17px;
}

.task-item:nth-child(4) {
  background-image: url('../img/task_4.png');
  width: 370px;
  height: 90px;
  background-repeat: no-repeat;
  margin-left: 170px;
}

.task-item-number {
  display: none;
}

.task-item-caption {
  display: none;
}

.tasks-container {
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  height: 100%;
  position: relative;
}

.tasks-list-title h3 {
  text-transform: uppercase;
  text-align: right;
  font-weight: 300;
  font-size: 30px;
  padding-right: 5px;
}

.tasks-right {
  padding-right: 49px;
}

.task-item {
  margin-bottom: 3px;
}

.tasks-text {
  max-width: 556px;
  margin-top: 72px;
  margin-left: 30px;
  line-height: 160%;
  color: #686868;
  font-size: 18px;
}

a.tasks-button {
  background: url(../img/scenario.png);
  width: 252px;
  height: 60px;
  display: block;
  color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: translateY(27px);
  -webkit-transform: translateY(27px);
}

.tasks-left {
  padding-left: 40px;
}

/* VIDEOS */
.videos {
    margin-top: 80px;
}

.videos-content {
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  max-width: 1000px;
  margin: auto;
}

.videos-items {
  width: 100%;
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -wbkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.videos-item {
  display: inline-block;
  width: 47%;
  margin-bottom: 18px;
}

.videos-right {
  padding-left: 65px;
}

.videos-title h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 25px;
  display: block;
  margin-top: -61px;
}
// End Andrey part

// Materials block
.materials {
    margin-top: 190px;
}

.paintball-man {
    position: absolute;
    width: 1121px;
    height: 972px;
    left: -395px;
    top: -325px;
    background: url('../img/paitball_man.png') no-repeat center center;
}

.materials-list {
    width: 485px;

    h3 {
        margin: 0 0 15px;
        font-weight: 300;
        font-size: 30px;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
    }
}

.material-single {
    position: relative;
    display: inline-block;
    width: 235px;
    height: 158px;
    margin-right: -4px;
    margin-bottom: 5px;
    vertical-align: top;
    overflow: hidden;

    img {
        display: block;
        height: 100%;
        width: auto;
    }

    span {
        position: absolute;
        left: 10px;
        bottom: 30px;
        font-family: @condensed;
        font-size: 13px;
        text-transform: uppercase;
    }

    &:nth-of-type(2n) {
        margin-left: 15px;

        span {
            left: 20px;
        }
    }
}

.game-info {
    position: relative;
    margin-top: 45px;
    z-index: 1;
}

.game-info-nav,
.reviews-tabs-nav,
.prices-nav {
    text-align: right;

    a {
        display: inline-block;
        padding: 3.5px 10px;
        font-size: 22px;
        text-transform: uppercase;
        line-height: 1;
        color: @gray;
        background: darken(@gray, 25%);

        &.current {
            color: #fff;
            background: @green;
        }
    }
}

.game-info-content {
    min-height: 480px;
    background: url('../img/sides_background.png') no-repeat center top;
    background-size: 100% 100%;
    border-top: 1px solid @green;
}

.game-info-tab,
.game-info-innertab,
.review-tab,
.prices-tab {
    display: none;

    &.current {
        display: block;
    }
}

.game-sides-nav,
.game-locations-nav {
    padding: 12px 0;
    text-align: center;
    border-bottom: 1px solid @dark-gray;

    a {
        display: inline-block;
        margin: 0 14px;
        font-family: @condensed;
        font-weight: 18;
        text-transform: uppercase;
        line-height: 1;
        color: @gray;

        &.current {
            color: #fff;
        }
    }
}

.game-info-innercontent {
    padding: 0 30px;
}

.game-info-innertab {
    padding-bottom: 85px;
}

#game-sides {

    .game-info-img {
        width: 320px;
        padding: 25px 30px 25px 0;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .game-info-desc {
        width: 710px;
        min-height: 395px;
        padding: 25px 0 25px 30px;
        background: url('../img/sides_delimiter.png') no-repeat left center;

        p {
            font-weight: 400;
            font-size: 16px;
            color: lighten(@gray, 18%);

            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

#game-locations {

    .game-info-img {
        padding: 30px 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
    }

    .game-info-desc {
        padding: 35px 0;
        background: url('../img/locations_delimiter.png') no-repeat center top;

        p {
            margin: 0;
            padding: 5px 0 5px 20px;
            font-weight: 400;
            font-size: 16px;
            color: lighten(@gray, 18%);
            border-left: 1px solid @green;
        }
    }
}

// Features block
.features {
    margin-top: 20px;
    color: lighten(@gray, 17%);

    h2 {
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 45px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
    }

    .container {
        min-height: 625px;
        padding: 0 100px 145px;
        background: url('../img/features_background.png') no-repeat center top;
        background-size: 100% 100%;
    }
}

.features-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    padding-top: 55px;
    text-align: center;
}

.feature-single {
    display: inline-block;

    .img-wrapper {
        height: 86px;
    }

    figcaption {
        font-weight: 400;
        font-family: @condensed;
        font-size: 14px;
        text-transform: uppercase;
    }
}

.features-secondary {
    margin-top: 70px;

    h3 {
        margin-bottom: 30px;
        font-weight: 300;
        font-size: 20px;
        text-transform: uppercase;
    }

    strong, b {
        font-weight: 700;
        color: #fff;
    }
}

.features-secondary-item {
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 16px;
    background: url('../img/icon_check.png') no-repeat left center;

    &:last-child {
        margin-bottom: 0;
    }
}

// Reviews block
.reviews {
    margin-top: 48px;

    .container {
        width: 1191px;
        height: 472px;
        padding: 0 60px 75px 40px;
        background: url('../img/reviews_background.png') no-repeat center top;
    }
}

.reviews-tabs-nav {
    padding-top: 10px;
    text-align: left;

    a {
        position: relative;
        z-index: 1;
    }
}

.slick-slide {
    outline: none;
}

// Sliders arrows
.arrow {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 23px;
    background: url('../img/icon-arrow-left.png') no-repeat center center;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.prev-arrow {
    left: 0;
}
.next-arrow {
    right: 0;
    transform: rotate(180deg);
}

.slick-dots {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;

    button {
        display: none;
    }

    li {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 10px;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;

        &.slick-active {
            background: #fff;
        }
    }
}

// End sliders arrows

.reviews-slider {
    margin-top: -37px;

    .prev-arrow {
        left: 45px;
    }
    .next-arrow {
        right: 45px;
    }

    .slick-dots {
        margin-top: 50px;
    }
}

.reviews-slide {
    text-align: center;
}

.review-img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
}

.review-name {
    display: block;
    margin: 35px auto 25px;
    font-family: @condensed;
    font-weight: 300;
    font-size: 19px;
    text-transform: uppercase;
    color: #fff;

    strong {
        color: @orange;
        font-weight: 300;

        &:before {
            content: '/';
            display: inline-block;
            margin-left: 2px;
            margin-right: 6px;
            color: @green;
        }
    }
}

.review-text {
    width: 800px;
    margin: 0 auto;
    color: @gray;
}

.take-part-in {
    margin-top: 42px;
    text-align: center;
}

// FAQ block
.faq {
    margin-top: 100px;

    h2 {
        position: relative;
        font-weight: 300;
        font-size: 45px;
        line-height: 1;
        text-transform: uppercase;
        z-index: 1;
    }
}

.swat-man {
    position: absolute;
    width: 1037px;
    height: 875px;
    left: -315px;
    top: -150px;
    background: url('../img/spetsnaz.png') no-repeat center center;
}

.faq-nav,
.faq-tabs {
    position: relative;
    z-index: 1;
}

.faq-nav {
    margin-top: 40px;
    padding-left: 475px;

    a {
        display: inline-block;
        margin-bottom: 25px;
        font-size: 18px;
        color: lighten(@gray, 17%);

        span {
            border-bottom: 1px solid transparent;
        }

        &.current {
            color: #fff;

            span {
                border-color: #fff;
            }
        }
        &:before {
            content: '';
            display: inline-block;
            width: 14px;
            height: 14px;
            margin-right: 12px;
            background: transparent;
            border: 1px solid @orange;
            border-radius: 50%;
            vertical-align: middle;
        }
        &.current:before {
            background: @orange;
        }

        // Offset
        &:nth-of-type(2) {
            margin-left: 48px;
        }
        &:nth-of-type(3) {
            margin-left: 80px;
        }
        &:nth-of-type(4) {
            margin-left: 102px;
        }
        &:nth-of-type(5) {
            margin-left: 117px;
        }
        &:nth-of-type(6) {
            margin-left: 126px;
        }
        &:nth-of-type(7) {
            margin-left: 129px;
        }
        &:nth-of-type(8) {
            margin-left: 119px;
        }
    }
}

.faq-tabs {
    margin-left: 415px;
    margin-top: 20px;
}

.faq-tab {
    display: none;
    padding-left: 20px;
    border-left: 1px solid @orange;

    &.current {
        display: block;
    }

    p {
        width: 630px;
        margin: 0;
        font-size: 18px;
        color: lighten(@gray, 17%);
    }
}

// Prices block
.prices {
    min-height: 835px;
    padding: 245px 0 0;
    text-align: center;
    background: url('../img/prices_background_overlay.png') no-repeat center top -55px;

    h2 {
        font-size: 45px;
        font-weight: 300;
        line-height: 1;
        text-transform: uppercase;
    }
}

.prices-nav {
    margin-top: 20px;
    text-align: center;
}

.prices-days-range {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    padding: 35px 7px 10px;
    background: url('../img/gameday_line.png') no-repeat bottom left fade(#000, 30%);
    background-size: 100% 5px;
    border-top: 1px solid @green;
    border-radius: 5px 5px 0 0;
}

.early-bird,
.golden-mean,
.sleepy-owl {
    width: 310px;
    margin-top: 0;
    margin-bottom: 0;

    .from {
        float: left;
        text-align: left;
    }

    .to {
        float: right;
        text-align: right;
    }

    .center {
        display: block;
        text-align: center;
    }

    span {
        font-size: 20px;
        color: lighten(@gray, 17%);

        strong {
            display: block;
            line-height: 1;
        }
    }
}

.prices-tab {
    margin-bottom: 60px;
}

.prices-tab.current {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;

    p {
        position: relative;
        height: 210px;
        font-weight: 100;
        font-size: 70px;
        line-height: 210px;
        text-align: center;
        background: fade(#131313, 89%);
        border: 1px solid @dark-gray;
        border-top: none;
    }

    .early-bird {
        color: @green;
    }
    .golden-mean {
        color: @orange;
    }
    .sleepy-owl {
        color: @red;
    }

    .last-day {
        position: absolute;
        top: 0;
        left: -1px;
        width: ~"calc(100% + 2px)";
        width: ~"-webkit-calc(100% + 2px)";
        width: ~"-moz-calc(100% + 2px)";
        width: ~"-o-calc(100% + 2px)";
        width: ~"-ms-calc(100% + 2px)";
        height: 23px;
        font-family: @condensed;
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 12.46px;
        text-align: center;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.6);
        background: url('../img/bg-lastday.png') no-repeat left center;
        background-size: 100% 23px;
    }

    .promo {
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: normal;
        text-align: center;
        color: @gray;

        b {
            color: @red;
        }
    }
}

.prices-faq {
    font-family: @condensed;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;

    &:hover {
        border-color: #fff;
    }
}

.prices-participate {
    margin-top: 50px;
}

.registration,
.organizators,
.partners {

    h2 {
        font-size: 45px;
        font-weight: 300;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
    }
}

// Registration block
.registration {
    min-height: 570px;
    margin-top: 55px;
    padding-top: 20px;
    background: url('../img/registration_background.png') no-repeat center top;
}

.registration-types {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    margin-top: 110px;
}

.registration-type {
    width: 310px;
    height: 215px;
    border: 1px solid #3a3a3a;

    &:nth-child(1) .registration-title {
        background: @red;
    }
    &:nth-child(2) .registration-title {
        background: @green;
    }
    &:nth-child(3) .registration-title {
        background: fade(@gray, 15%);
    }
}

.registration-title {
    height: 45px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 45px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid @dark-gray;
}

.registration-type-content {
    height: 170px;
    padding: 15px 35px;
    text-align: center;
    background: fade(#000, 20%);

    p {
        margin: 0;
        color: #686868;
    }

    img {
        margin-top: 12px;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
}

.reg-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    font-family: @condensed;
    font-size: 16.69px;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid;
}

.registration-shops {
    border-color: @red;
}

.registration-order {
    border-color: @orange;
}

// Organizators block
.organizators {

    .container {
        min-height: 465px;
        padding: 0 40px 30px;
        background: url('../img/organizators_bg.png') no-repeat center top 50px;
        background-size: 100% 100%;
    }

    h2 {
        margin-top: -50px;
    }
}

.organizators-slider {
    margin-top: 57px;

    .organizator-single {
        display: block;
        position: relative;
        width: 250px;
        height: 250px;
        margin: 0 auto;
        border: 1px solid @dark-gray;
    }

    a {
        margin: 0 15px;
    }

    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

    .arrow {
        margin-top: -11.5px;
    }
    .prev-arrow {
        left: -95px;
    }
    .next-arrow {
        right: -95px;
    }

    .slick-dots {
        margin-top: 35px;
    }
}

// Partners block
.partners {
    margin-top: 40px;

    h2 {
        font-size: 30px;
    }

    .container {
        min-height: 275px;
        background: url('../img/partners_bg.png') no-repeat center top;
    }
}

.partners-slider {
    width: 775px;
    margin: 60px auto 0;

    img {
        height: 75px;
        width: auto;
        margin: 0 auto;
    }

    .slick-dots {
        position: absolute;
        left: 0;
        bottom: -80px;
        width: 100%;
    }

    .arrow {
        margin-top: -11.5px;
    }
    .prev-arrow {
        left: -60px;
    }
    .next-arrow {
        right: -60px;
    }
}
