.modal {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    padding: 35px 25px;
    color: #fff;
    background: url('../img/bg-modal.png') repeat left top @dark;
    border: 1px solid @green;
    border-radius: 5px;

    p {
        line-height: 24px;
    }

    p:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

.modal.map {
    max-width: 1090px;
}

.modal.newsletter {
    max-width: 340px;
    padding: 0;
    text-align: center;
    border-radius: 18px;

    .newsletter-title {
        margin: 0;
        padding: 35px 25px 0;
        font-family: @condensed;
        font-size: 15px;
        text-transform: uppercase;
        color: @gray;
    }

    input[type=email] {
        display: block;
        width: 290px;
        width: ~"calc(100% - 50px)";
        width: ~"-webkit-calc(100% - 50px)";
        width: ~"-moz-calc(100% - 50px)";
        width: ~"-o-calc(100% - 50px)";
        width: ~"-ms-calc(100% - 50px)";
        margin: 23px auto 28px;
        border-radius: 30px;
        height: 36px;
        text-align: center;
        color: #fff;
        border: 1px solid #3b3b3b;
        background: #1f1f1f;
        opacity: 0.79;
        line-height: 36px;
    }

    input[type=submit] {
        display: block;
        width: 100%;
        padding: 17px 0;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        background: @green;
        border: none;
        border-radius: 0 0 14px 14px;

        &:hover {
            opacity: 0.8;
        }
    }
}

.mfp-bg.mfp-ready {
    background: url('../img/bg-popup.png') no-repeat center center rgba(0, 0, 0, 0.79);
}

button.mfp-close {
    right: -15px;
    top: -15px;
    width: 32px;
    height: 32px;
    line-height: 34px;
    color: #000;
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 5px fade(#000, 60%);
    opacity: 1;

    &:hover {
        right: -15px;
        top: -15px;
        opacity: 0.8;
    }
}
